diffusers
lungmask
matplotlib
monai-generative
opencv-python
pandas
Pillow
pydicom
pytorch-lightning
PyYAML
scipy
seaborn
SimpleITK
https://download.pytorch.org/whl/cu121/torch-2.5.1%2Bcu121-cp312-cp312-win_amd64.whl#sha256=473d76257636c66b22cbfac6f616d6b522ef3d3473c13decb1afda22a7b059eb
torchvision
tqdm
transformers
wandb
einops
einops_exts
rotary_embedding_torch
open_clip_torch
sk-video
lpips
hydra-core
torchio